@font-face {
    font-family: Helvetica;
    src: url({{'/assets/fonts/HelveticaNeueLTStd-Roman.otf' | relative_url }});
}

@font-face {
    font-family: HelveticaThin;
    src: url({{'/assets/fonts/HelveticaNeueLTStd-Th.otf' | relative_url }});
}


/* Overrides for dinky template */

* {
    
}
body {

    font-family: 'Helvetica','Arial';
}

.wrapper {
    width: 100%;
}

section {
    width: auto;
    max-width: calc(100vw - 300px);
    padding: 0 10px;
    box-sizing: border-box;
}